<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="container1">
            <button class="btn" id="btn1" onclick="right()">
                <span><i class="fa-solid fa-angle-left"></i></span>
            </button>
            <div class="contentI">
                <div id="head">
                    <span><i class="fa-solid fa-b"></i></span>
                    <span class="spanH">
                        <h2>Name</h2>
                        <h4>Dummy</h4>
                    </span>
                </div>
                <div class="tnt" id="block1">
                    <span class="spanI"><i class="fa-solid fa-users"></i></span>
                    <span class="spanC">
                        <h2>Clients
                        </h2>
                    </span>
                </div>
                <div id="block2" class="tnt">
                    <span class="spanI"><i class="fa-solid fa-magnifying-glass"></i></i></span>
                    <span class="spanC">
                        <h2>Search
                        </h2>
                    </span>
                </div>
                <div class="tnt" id="block3">
                    <span class="spanI"><i class="fa-solid fa-calendar-days"></i></i></span>
                    <span class="spanC">
                        <h2>Status
                        </h2>
                    </span>
                </div>
                <div class="tnt" id="foot">
                    <span class="spanI"><i class="fa-solid fa-right-from-bracket"></i></span>
                    <span>
                        <h2 class="spanC">Logout</h2>
                    </span>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="box1">
                <div class="head">
                    <h3>Most Leads</h3>
                </div>
                <div class="gmt">
                    <div class="sym">
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <span><i class="fa-solid fa-user-group"></i></span>
                        <span><i class="fa-solid fa-address-card"></i></span>
                        <span><i class="fa-solid fa-phone"></i></span>
                        <span><i class="fa-solid fa-at"></i></span>
                    </div>
                    <form action="">
                        <input type="text" placeholder="Name" name="name">
                        <input type="text" placeholder="Pan" name="pan">
                        <input type="text" placeholder="Address" name="address"> 
                        <input type="text" placeholder="Phone" name="phone">
                        <input type="text" placeholder="Email" name="email">
                    </form>
                </div>
            </div>
            <div class="box2">
                <div class="head">
                    <h3>Danger Zone</h3>
                </div>
                <div class="con">
                    <h3>Request For</h3>
                    <p>Transfer this account to another user or to an organization where you have the ability to create
                        repositories.</p>
                    <div class="idn">
                        <span><button>abc</button></span>
                        <span><button>abc1</button></span>
                        <span><button>Meeting</button></span>
                        <span><button>Doc Review</button></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="box3">
                <div class="head">
                    <h3>Types Of Income</h3>
                </div>
                <form action="">
                    <span>
                        <input type="checkbox" name="check1" id="">
                        <label>Default Checkbox</label>
                    </span>
                    <span>
                        <input type="checkbox" name="check1" id="">
                        <label>Checked Checkbox</label>
                    </span>
                    <span>
                        <input type="checkbox" name="check1" id="">
                        <label>Default Checkbox</label>
                    </span>
                    <span>
                        <input type="checkbox" name="check1" id="">
                        <label>Checked Checkbox</label>
                    </span>
                    <span>
                        <input type="checkbox" name="check1" id="">
                        <label>Default Checkbox</label>
                    </span>
                    <span>
                        <input type="checkbox" name="check1" id="">
                        <label>Checked Checkbox</label>
                    </span>
                </form>
            </div>
            <div class="box4">
                <div class="head">
                    <h3>Previous Meetings</h3>
                </div>
                <div class="date">
                    <div>
                        <span>
                            <p>1</p>
                        </span>
                        <span>
                            <p>22 Feb,2022</p>
                        </span>
                    </div>
                    <div>
                        <span>
                            <p>2</p>
                        </span>
                        <span>
                            <p>26 Feb,2022</p>
                        </span>
                    </div>
                    <div>
                        <span>
                            <p>3</p>
                        </span>
                        <span>
                            <p>1 Mar,2022</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/anime.min.js"></script>
    <script src="js/index.js"></script>
</body>

</html>